%table.table
  %tr
    %th Nº URL
    %th URL Original
    %th
      URL Corta
    %th
      Nº Visitas
    %th
      Autor
    %th
      Estadísticas
  - @list.each do |elem|
    %tr
      %td
        #{elem.id}
      %td
        %a{:href=>"/#{elem.id.to_s(Base)}" , :target=>"_blank"} #{elem.url}
      %td
        - if elem.url_opc != " "
          %a{:href=>"/#{elem.url_opc}"} #{elem.id.to_s(Base)} #{elem.url_opc}
        - else
          %a{:href=>"/#{elem.id.to_s(Base)}"} #{elem.url}
      %td
        #{elem.n_visits}
      %td
        - if elem.usuario != " "
          #{elem.usuario}
        - else
          anonim@
      %td
        %a.button.btn.btn-danger{:href=>"/grafics/#{elem.id.to_s(Base)}", :type => "button"} Ver gráficos estadísticos
        

          